#fullPanel {
    background: #F8F8F4;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputPanel {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px 0px gray;
}

.inputPanelFinal {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px 0px gray;
}

#bloc_Login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 15px;
    width: fit-content;
    border-radius: 30px;
    box-shadow: 0px 10px 25px 0px gray;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #83BEEC;
    border: none;
    color: #284243;
    margin-left: 30px;
    margin-right: 30px;
    padding: 16px 65px;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 232px;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #6694B9;
    text-align: center;
}

input[type=text], input[type=date], input[type=number], input[type=password], input[type=email], select {
    padding: 12px 20px;
    margin: 4px 0;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 232px;
}

@media (max-width: 750px) {
    #fullPanel {
        flex-direction: column;
    }
}

/* Contact */

.forceLeft {
    align-self: flex-start;
}

#bloc_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 10px 25px 0px gray;
}

.contactPart {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contactPart>p {
    margin-top: 10px;
}

#formulaireContact {
    display: inherit;
}

.couleurRouge {
    color: red;
}

/* responsiveness */

@media (max-width:650px) {
    #formulaireContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactPart {
        width: 100%;
    }
    textarea {
        margin-right: 0px;
    }
}